.map {
}

.map__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.map__title {
  margin: 30px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 70px;
  font-weight: 700;
  letter-spacing: 40px;
  text-align: center;
  color: white;
  box-shadow: 4px 3px 30px rgb(188, 188, 188);
  border-radius: 10px;
}

.map__map {
  position: relative;
  max-width: 1150px;
  width: 100%;
  height: 700px;
  box-shadow: 2px 2px 10px #96caff;
}

.map__searchBar-form {
  position: absolute;
  top: 450px;
  opacity: 0.3;

  transition: opacity 0.5s linear;
}

.map__searchBar-form:hover {
  opacity: 0.8;
}

.map__searchBar-label {
}

.map__searchBar-input {
  height: 50px;
  width: 500px;
  border-radius: 50px;
  color: gray;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 3px;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
}

.map__searchBar-btn {
  margin: 0 0 0 8px;
  border: none;
  background-color: rgb(219, 219, 219);
  border-radius: 200px;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.map__ny-logo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 2px 2px 10px;

  position: absolute;
  top: 383px;
  right: 395px;

  cursor: cell;
  transition: width 0.2s linear, height 0.2s linear, top 0.2s linear,
    right 0.2s linear;
}

.map__ny-logo:hover {
  width: 50px;
  height: 50px;
  top: 378px;
  right: 390px;
}

.map__orlando-logo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 2px 2px 10px;

  position: absolute;
  top: 532px;
  right: 585px;

  cursor: cell;
  transition: width 0.2s linear, height 0.2s linear, top 0.2s linear,
    right 0.2s linear;
}

.map__orlando-logo:hover {
  width: 50px;
  height: 50px;
  top: 527px;
  right: 580px;
}

.map__st-logo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 2px 2px 10px;

  position: absolute;
  top: 588px;
  right: 570px;

  cursor: cell;
  transition: width 0.2s linear, height 0.2s linear, top 0.2s linear,
    right 0.2s linear;
}

.map__st-logo:hover {
  width: 50px;
  height: 50px;
  top: 583px;
  right: 565px;
}

.map__mt-logo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 2px 2px 10px;

  position: absolute;
  top: 602px;
  left: 500px;

  cursor: cell;
  transition: width 0.2s linear, height 0.2s linear, top 0.2s linear,
    left 0.2s linear;
}

.map__mt-logo:hover {
  width: 50px;
  height: 50px;
  top: 596px;
  left: 494px;
}

.map__sanfran-logo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 2px 2px 10px;

  position: absolute;
  top: 290px;
  left: 281px;

  cursor: cell;

  transition: width 0.2s linear, height 0.2s linear, top 0.2s linear,
    left 0.2s linear;
}

.map__sanfran-logo:hover {
  width: 50px;
  height: 50px;
  top: 285px;
  left: 276px;
}
