.directions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.directions__wrapper-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 30px 20px 0 780px;
}

.directions__wrapper-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0 0 225px;
}

.directions__title {
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 7px;
  color: white;
  margin: 0 20px 0 0;
  max-width: 180px;
}

.directions__img {
  width: 300px;
  height: 200px;
  box-shadow: 2px 2px 10px rgb(255, 214, 103);

  transition: width 0.5s linear, height 0.5s linear;

  cursor: crosshair;
}

.directions__img:hover {
  width: 340px;
  height: 240px;
}

.directions__lines {
}

.directions__line-1 {
  background-color: rgb(5, 20, 39);
  width: 15px;
  height: 100px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgb(171, 230, 255);
  margin: 40px 0 0 1085px;
}

.directions__line-2 {
  background-color: rgb(5, 20, 39);
  width: 400px;
  height: 15px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgb(171, 230, 255);
  margin: 5px 0 0 625px;
}

.directions__line-3 {
  background-color: rgb(5, 20, 39);
  width: 15px;
  height: 100px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgb(171, 230, 255);
  margin: 20px 0 14px 540px;
}
